<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/font-awesome/css/all.css">
    <title>Войти в аккаунт</title>
</head>
<body>
<header>
    <a class="logo" href="index.html">Aerosales</a>
    <a class="right" href="orders.html"><i class="fas fa-list-alt"></i> Заказы</a>
    <a sec:authorize="isAuthenticated()" class="right" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Выйти</a>
    <a sec:authorize="isAnonymous()" class="right" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Войти</a>
</header>
<section id="banner">
    <div class="inner">
        <h1>Регистрация</h1>
    </div>
</section>
<form th:action="@{/registration}" method="post">
    <label><h3>Введите имя пользователя:</h3></label>
    <input type="text" placeholder="Введите имя пользователя" name="username" required><br>
    <label><h3>Введите пароль: </h3></label>
    <input type="password" placeholder="Введите пароль" name="password" required>
    <input type="submit" value="Зарегистрироваться">
</form>
<footer id="footer">
    <div class="inner">
        <p>Aerosales - сервис, который создан в 2021 году для быстрой покупки билетов на самолёт в любой город мира, где есть аэропорт. Я надеюсь, что всё работает нормально.</p>
        <div class="copyright">
            Сервис сделан студентом группы ИКБО-20-19 <a href="https://instagram.com/vereshkin228">Верешкиным Николаем</a>.
        </div>
    </div>
</footer>
</body>
</html>